.section-category-list { margin-bottom: 100px; }
@media (max-width: 767px) { .section-category-list { margin-bottom: 40px; } }
.section-category-list ul { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; list-style: none; padding: 0; margin: 0; border: 1px solid #F1F1F1; }
.section-category-list ul > li { -ms-flex-preferred-size: 0; flex-basis: 0; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%; text-align: center; border-right: 1px solid #F1F1F1; }
.section-category-list ul > li:last-child { border: none; }
.section-category-list ul > li a { display: block; font-family: "GothamBold", Helvetica, Arial, sans-serif; font-size: 11px; color: #D9D9D9; letter-spacing: 2.75px; text-transform: uppercase; padding: 30px 20px; position: relative; }
.section-category-list ul > li a:hover, .section-category-list ul > li a.nav-path-selected { color: #181818; }
.section-category-list ul > li a:hover:after, .section-category-list ul > li a.nav-path-selected:after { width: 100%; }
.section-category-list ul > li a:after { position: absolute; bottom: 0; left: 0; width: 0%; height: 1px; background-color: #000; content: ''; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; -ms-transition: all 0.5s; }

.section-filter { margin-bottom: 90px; }
@media (max-width: 767px) { .section-filter { margin-bottom: 40px; } }
@media (min-width: 576px) { .section-filter .col__filter form { max-width: 170px; } }
.section-filter .col__filter form .cs-select { padding: 0; font-family: "GothamBold", Helvetica, Arial, sans-serif; color: #181818; letter-spacing: 2.75px; font-size: 11px; border: none; border-bottom: 1px solid rgba(151, 151, 151, 0.28); }
.section-filter .col__filter form .cs-select > span { padding: 0 0 15px 18px; }
.section-filter .col__filter form .cs-select > span:after { color: rgba(119, 119, 119, 0.5); }
.section-filter .col__filter form .cs-select .cs-options { border: 1px solid #000; }
.section-filter .col__filter form .cs-select .cs-options li span { padding-left: 18px; }
.section-filter .col__filter form .cs-select .cs-options li span:hover { background-color: #000; color: #fff; }
.section-filter .col__text { font-size: 13px; }
.section-filter .col__text > div { max-width: 500px; }

.section-page-list { margin-bottom: 120px; overflow: hidden; }
.section-page-list .col__list { overflow: inherit !important; }
@media (min-width: 481px) { .section-page-list .col__list { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; } }
.section-page-list .col__list .col__item { margin-bottom: 60px; -webkit-transition: transform 0.5s; -moz-transition: transform 0.5s; -o-transition: transform 0.5s; transition: transform 0.5s; -ms-transition: transform 0.5s; }
@media (min-width: 768px) { .section-page-list .col__list .col__item { -ms-flex: 0 0 32%; flex: 0 0 32%; max-width: 32%; } }
@media (max-width: 767px) and (min-width: 481px) { .section-page-list .col__list .col__item { -ms-flex: 0 0 49%; flex: 0 0 49%; max-width: 49%; } }

.section-page-list .col__list .col__item > div { padding: 0 15px; }
.section-page-list .col__list .col__item--text { font-size: 13px; margin-top: 40px; position: relative; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; -ms-transition: all 0.3s; }
.section-page-list .col__list .col__item--text:before { width: 0; height: 1px; background-color: #000; left: 0; top: 0; position: absolute; content: ''; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; -ms-transition: all 0.3s; }
.section-page-list .col__list .col__item--text > div { max-width: 310px; }
.section-page-list .col__list .col__item--text h3 { font-family: "ACaslonProBold", Helvetica, Arial, sans-serif; font-size: 15px; letter-spacing: 3px; margin-bottom: 20px; }
.section-page-list .col__list .col__item--text .desc { opacity: 0.4; }
.section-page-list .col__list .col__item--text .date { font-family: "GothamMedium", Helvetica, Arial, sans-serif; text-transform: uppercase; margin-top: 18px; }
.section-page-list .col__list .col__item--link { display: block; }
.section-page-list .col__list .col__item--link:hover .col__item--image { box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.1); }
.section-page-list .col__list .col__item--link:hover .col__item--text { padding-left: 40px; }
.section-page-list .col__list .col__item--link:hover .col__item--text:before { width: 20px; }
.section-page-list .col__list .col__item--link:hover .col__item--text .desc { opacity: 1; }

/*# sourceMappingURL=news_list.css.map */
